[submodule "fcitx5-hallelujah"]
	path = fcitx5-hallelujah
	url = https://github.com/fcitx-contrib/fcitx5-hallelujah
[submodule "fcitx5-thai"]
	path = fcitx5-thai
	url = https://github.com/fcitx/fcitx5-libthai
